*{
    margin: 0px;
    padding: 0px;
}
.main{
    display: flex;
    flex-direction: row;
}



.side{
    position: fixed;
    left: 0px;
    top: 12%;
    width: 14%;
    box-shadow: 1px 1px 2px 2px blue;
    background: #1167b1;
    height: 100vh;
}

#ul-side{
    list-style-type: none;
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
    margin-right:40px;
   
}

.li-side{
    font: bolder;
    list-style-type: none;
}

.right-sect{
    background: #83c3f5;
    width:98%;
    position: relative;
    left:14%;
    top: 60px;
    z-index: -10;
    height: auto;
}


.PatientInfo{
    background: #2a9df4;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    top: 12%;
    
}

.one{
    background: #83c3f5;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 30%;
    height: 80vh;
}

.form{
    display: flex;
    flex-direction: column;
    font: bolder;
    font-size: x-large;
    
}

input{
    margin: 20px;
    position: relative;
    width: 100px;
    border: .25px solid black;
    box-shadow: 1px 1px 4px 1px black;
    height: 20px;
    border-radius: 7px;
    padding: 5px;

}
label{
    position: relative;
    right: 0px;
    margin: 2px;
}

#i1{
    position: relative;
    left: 55px;
}
#i2{
    position: relative;
    left: 29px;
}
#i3{
    position: relative;
    left: 20px;
}
#i4{
    position: relative;
    left: 67px;
}

#img1{
    position: relative;
    right: 5px;
    height: 300px;
    top: 100px;
}


button{
    position: fixed;
    top: 80%;
    border-radius: 20px;
    height: 40px;
    left: 1%;
    font-weight: bolder;
    font-size: large;
    color: white;
    
    width: 150px;
    background: blue;
    box-shadow: 1px 1px 1px 1px black;
    z-index: 10;
}
